html {
    scroll-behavior: smooth;
    height: 100%;
  }

body {
    height: 100%;
}


/* The hero image */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image.
    This will make the text easier to read*/
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
    url(https://images.pexels.com/photos/1458694/pexels-photo-1458694.jpeg?auto=compress&cs=tinysrgb&h=650&w=940);
    
    /* Set a specific height */
    height: 50%;

    /* Position and centre the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-image-2 {
    /* Use "linear-gradient" to add a darken background effect to the image.
    This will make the text easier to read*/
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
    url(https://images.pexels.com/photos/1458694/pexels-photo-1458694.jpeg?auto=compress&cs=tinysrgb&h=650&w=940);
    
    /* Set a specific height */
    height: 25%;

    /* Position and centre the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;    
}

.hero-text {
    /* place hero text in the middle of the image */
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* .question {
    text-align: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
} */

/* #questions {
    margin: 100px 100px;
} */

.question img {
    width: 100%;
    margin: 15px 0;
}




